body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('./asset/bgFroest2.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.header1{
  padding:264px 16px;
  
}
.border1{
  margin:auto;width:40%
}
.dl1{
  width: 40%;
}
#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
.tt{
  background-color: white;
}
.ab1{
  margin-top:64px
}
.ab2{
  padding:128px 16px
}

.parallax {
  /* The image used */
  background-image: url("./asset/bgFroest2.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.w3-sidebar{
  width:300px;
  font-weight:bold;
  z-index:3;
  background-color: #E59866;
}
.sidebarSM{
  background-color: #E59866;
  
}
.logoStyle{
  width: 95%;
  height: 90%;
  background-position: center;
  background-color: aliceblue;
}
.logoStyle1{
  width: 50%;
  height: 50%;
  margin-left: 80px;
  background-position: center;
  background-color: aliceblue;
}
.w3-main{
  margin-left:320px;
  margin-right:40px
}
.w3-content{
  padding-top:50px
}
h1{
  font-weight: bold;
}
h3{
  font-size: 15px;
}
.imgStyle{
  width: 100%;
  height: 100%;
}